.cardRow {
    display: flex;
    justify-content: space-between;
}
.cardRowTitle {
    font-size: 30px;
}
.cardRowSubTitle {
    font-size: 23px;
}
.borderRow {
    border-bottom: 2px solid #202020;
}
.types {
    width: 25px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 20px;
}