.card {
    display: flex;
    padding-top: 30px;
    border-radius: 10px;
    padding: 13px;
    background-color: #ffd700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cardFullHeight  {
    height: 100%;
}
.cardData {
    display: grid;
    background-color: #ffd700;
}
.cardHeader {
    padding: 0px 6px;
    padding-bottom: 30px;
}
.cHeader {
    padding: 10px 0px;
}
.cardHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.title {
    font-size: 30px;
    font-weight: 600;
}
.experience {
    font-size: 20px;
    background-color: #3c5aa6;
    color: white;
    width: 50px;
    border-radius: 45%;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
}
.image {
    width: 100%;
    border: 5px solid #d4af37;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-position: center;
    background-size: inherit;
}
.headerInfo {
    background-color: #d4af37;
    margin-top: 5px;
    padding: 2px 5px;
    font-size: 12px;
}
.bodyWrapper {
    padding-bottom: 20px;
}
.bodyWrapper .rowWrapper {
    border-bottom: 2px solid #202020;
}
.bodyWrapper .rowWrapper:last-child {
    border: none;
}
.cardRow {
    display: flex;
    justify-content: space-between;
}
.cardWrapper {
    display: grid;
    background-size: contain;
    background-position: center;
    background-size: cover;
}
.cardArtwork {
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-color: white;
    padding: 10px;

}
.cardOpacity {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 10px;
    color: #202020;
}
.cardBody {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;

}