.card {
    padding-top: 30px;
    border-radius: 2px;
    padding: 6px;
}
.cardFullHeight  {
    height: 100%;
}
.cardData {
    display: grid;
    background-color: white;
}
.title {
    font-size: 33px;
    font-weight: 600;
}
.image {
    width: 100%;
}
.rowsWrapper:last-child {
    border: none;
}
.cardWrapper {
    border: 5px double #ffd700;
    display: grid;
    background-size: contain;
    background-position: center;
    background-size: cover;
}
.cardArtwork {
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-color: white;
    padding: 10px;

}
.cardOpacity {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: #202020;
}