@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  background: #EDE574;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    height: 100vh;
  }
  body {
    color: #808080;
    height: 100vh;
  }
}
